In [25]:
import numpy as np 
import pandas as pd 
df=pd.read_csv("penguins.csv")
df.head()

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,3.1,3.1,3.1,3.1,3.1,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [26]:
df['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [27]:
df['bill_length_mm'].unique()

array([39.1, 39.5, 40.3,  3.1, 36.7, 39.3, 38.9, 39.2, 34.1, 42. , 37.8,
       41.1, 38.6, 34.6, 36.6, 38.7, 42.5, 34.4, 46. , 37.7, 35.9, 38.2,
       38.8, 35.3, 40.6, 40.5, 37.9, 37.2, 40.9, 36.4, 42.2, 37.6, 39.8,
       36.5, 40.8, 36. , 44.1, 37. , 39.6, 37.5, 42.3, 40.1, 35. , 34.5,
       41.4, 39. , 35.7, 41.3, 41.6, 35.5, 41.8, 33.5, 39.7, 45.8, 42.8,
       36.2, 42.1, 42.9, 35.1, 37.3, 36.3, 36.9, 38.3, 34. , 38.1, 33.1,
       43.2, 41. , 45.6, 42.7, 40.2, 35.2, 41.5, 38.5, 43.1, 36.8, 35.6,
       32.1, 40.7, 46.1, 50. , 48.7, 47.6, 46.5, 45.4, 46.7, 43.3, 46.8,
       49. , 45.5, 48.4, 49.3, 49.2, 46.2, 50.2, 45.1, 46.3, 44.5, 47.8,
       48.2, 47.3, 59.6, 49.1, 42.6, 44.4, 44. , 49.6, 45.3, 50.5, 43.6,
       44.9, 45.2, 46.6, 48.5, 50.1, 45. , 43.8, 50.4, 45.7, 54.3, 49.8,
       49.5, 43.5, 50.7, 47.7, 46.4, 48.6, 47.5, 51.1, 52.5, 47.4, 50.8,
       43.4, 51.3, 52.1, 52.2, 49.4, 46.9, 55.9, 47.2, 41.7, 53.4, 48.1,
       51.5, 55.1, 48.8, 49.9, 52.7, 51.7, 47. , 52. , 45.9, 50.3, 58. ,
       42.4, 50.6, 52.8, 54.2, 51. , 49.7, 53.5, 50.9, 51.4, 51.9, 55.8])

In [28]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [29]:
df['sex']=le.fit_transform(df['sex'])
df['island']=le.fit_transform(df['island'])
df['species']=le.fit_transform(df['species'])

In [30]:
df['sex'].unique()

array([2, 1, 0])

In [31]:
x1=df['island']
x2=df['bill_length_mm']
x3=df['bill_depth_mm']

x=list(zip(x1,x2,x3))
y=df['species']

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.8, random_state = 0)

In [36]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [37]:
from sklearn import metrics
from sklearn.metrics import classification_report, accuracy_score
from sklearn.svm import SVC
clf1 = SVC(kernel='rbf')
clf1.fit(x_train, y_train)
y_pred1 = clf1.predict(x_test)
acc1 = metrics.accuracy_score(y_test, y_pred1)*100

print("SVM")
print("Accuracy of the model is: ", acc1)

SVM
Accuracy of the model is:  98.55072463768117