In [19]:
import numpy as np
import pandas as pd
df=pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [20]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print(le)

LabelEncoder()

In [33]:
df['Gender'] = le.fit_transform(df['Gender'])

'''x = df.drop('Purchased', axis=1)
y = df['Purchased'] '''
x = df.iloc[:, :-1]
y = df.iloc[:, -1]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state = 0)


from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [36]:
from sklearn import metrics
from sklearn.metrics import classification_report, accuracy_score

#SVM
from sklearn.svm import SVC
clf1 = SVC(kernel='linear')
clf1.fit(x_train, y_train)
y_pred1 = clf1.predict(x_test)
acc1 = metrics.accuracy_score(y_test, y_pred1)*100

print("SVM")
print("Accuracy of the model is: ", acc1)

SVM
Accuracy of the model is:  88.0